*.hipo.root
__pycache__/
New_RooUnfold/RooUnfold_Old/
New_RooUnfold/RooUnfold_ifarm9/
Folder_for_running_code/
untitled*
Test_RooUnfoldExample.py
*.ipynb_checkpoints/
*0.root
*1.root
*2.root
*3.root
*4.root
*5.root
*6.root
*7.root
*8.root
*9.root
Data_Files_Groovy/GEN_MC/Outdated_SIDIS_epip_TTree_Batch_MC_GEN.sh
SIDIS_python_Images_From*
Test_Unfold.ipynb
Untitled.ipynb
*_All.root
*_Most.root
RooUnfoldExample.py
*.pdf
Histo_Files_ROOT/REAL_Data/single_sbatch_SIDIS_python_real_data.sh
Old_Images/
*Bin_Test_20_*All.root
*.prof
Untitled*
*root
*-Copy1*
*.png
Test_python_to_Cpp_Binning_Code.ipynb
run_and_monitor.sh
Test_of_Weighing_Histos.ipynb
Images_Made_while_at_CLAS_Collaboration_March_2024/
Data_Files_Groovy/Link_to_Updated_Files
Slice_and_Rebuild_MultiDim_Histos.py
Histo_Files_ROOT/Matching_REC_MC/Text_of_Smearing_Function_and_Momentum_Corrections_Code.txt
Data_Files_Groovy/GEN_MC/Link_To_Files
